.Sale-Info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
   
    
}

.Most-sale{
    width: 100%;
    max-width: 640px;
    height: 380px;
    background-color: white;
    box-shadow:  4px 4px 4px 0 #3658BF40;
    border-radius: 10px;
}
.head-title{
    background-color: #D4DAED;
    color:#3658BF;
    border-bottom: 1px solid #000000;
    border-radius: 10px 10px 0 0;
    height: 72px;
    display: flex;
    align-items: center;
    justify-items: center;
    
}
.head-title p{
    padding-left:  24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
}
.Item-name-head{
     background-color: #D4DAED;
    color:#4A4A4A;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 32px;
     height: 50px;
}
.Item-name-head p{
    font-size: 15px;
    font-weight: 700;
    line-height: 100%;
}

.Item-info{
display: flex;
align-items: center;
justify-items: center;
justify-content: space-between;
padding: 32px 32px 0 32px;

}

.Item-info p{
    font-size: 15px;
    font-weight: 700;
    line-height: 100%;
    color: #3658BF;
    
}

.Most-sale-graph{
    width: 100%;
    max-width: 640px;
    height: 444px;
    box-shadow:  4px 4px 4px 0 #3658BF40;
    border-radius: 10px;
    background-color: white;
}

.graph{
    background-color: #3658BF;
    width: 100%;
    max-width: 576px;
    height: 337px;
    border-radius: 10px;

}

.graph-container{
      
     padding: 16px 32px;
     border-radius: 0 0 10px 10px;
}


