.Pay-Info{
     display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  
}

.paymentMethod{
    width: 100%;
    max-width: 640px;
    height: 594px;
    background-color: white;
    box-shadow:  4px 4px 4px 0 #00000040;
    border-radius: 10px;
    padding-bottom: 24px ;
}

.pay-method{
     background-color: #D4DAED;
    color:#3658BF;
    border-bottom: 1px solid #000000;
    border-radius: 10px 10px 0 0;
     height: 77px;
     display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.pay-method p{
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    
}

.Days{
    background-color: white;
    padding: 4px 8px;
    border-radius: 10px;
    width: 100%;
    max-width: 101px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    gap: 8px;
}
.Days p{
     
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.breakdown{
    display: flex;
    flex-direction: column;
    gap:55px;
    padding:0 16px;
}

.pay-graph{
    width: 100%;
    max-width: 244.94px;
    height: 244px;
    margin-top: 16px;
    
}

.pay-table{
    background-color: white;
     width: 100%;
    max-width: 608px;
    height: 200px;
    border-radius: 10px;
    box-shadow:  0 4px 4px 0 #3658BF;
    
    }

    .table-block{

    
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
   
    }
.table-block p{
    
 padding: 32px 32px 0 32px;
 color:#3658BF;
  font-size: 15px;
  font-weight: 700;
line-height: 100%;
}
   

    .block-Item-head{
    background-color: #D4DAED;
    color:#4A4A4A;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 32px;
     height: 50px;
     border-radius: 10px 10px 0 0 ;
      font-size: 15px;
    font-weight: 700;
    line-height: 100%;
    }

    

.Account-manage{
    width:100%;
    max-width:640px;
    height: 246px;
    border-radius: 10px;
       box-shadow:  4px 4px 4px 0 #3658BF40;
       background-color: white;
}

.Account-title{
    background-color: #D4DAED;
    color:#3658BF;
    border-bottom: 1px solid #000000;
    border-radius: 10px 10px 0 0;
    height: 72px;
      display: flex;
    align-items: center;
    justify-items: center;
     padding: 0 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
}

.account-table-head{
    background-color: #D4DAED;
    color:#4A4A4A;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 25px;
     height: 65px;
     font-size: 15px;
    font-weight: 700;
    line-height: 100%;
}

.account-Items{
     padding: 0 25px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    color:#3658BF;
 font-size: 15px;
 font-weight: 700;
    line-height: 100%;
}