/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #E2E6F3;
} */

.dashboard-order{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.tabs {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.tab-button {
  width: 176px;
  height: 40px;
  padding: 10px 24px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: #3658BF;
  color: white;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.tab-button.active {
  background-color: white;
  color: black;
}

.orders-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1296px;
  overflow-y: auto;
  margin: 0 auto;
  
}

.order-card {
  width: 100%;
  max-width: 416px;
  height: 152px;
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}


.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
  /* padding-bottom: 8px; */
  font-weight: bold;
  padding: 2px 16px;
}

.order-table {
  font-size: 16px;
}

.order-time {
  font-size: 14px;
  /* text-align: right; */
  color: #555;
}


.order-info {
  font-size: 14px;
  margin: 8px 0 4px 0;
  color: #666;
}


.order-type-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}


.order-type {
  font-weight: 600;
  font-size: 15px;
  color: #111;
}

.order-status {
  font-size: 13px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 999px;
  white-space: nowrap;
}

.order-status.completed {
  background-color: #AADFB3;
  color: #256A11;
}

.order-status.pending {
  background-color: #EFE6C3;
  color: #E38417;
}

.order-container.selected .order-card {
  box-shadow: 0px 4px 8px 0px #3658BF;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .orders-grid {
    grid-template-columns: 1fr; /* Single column on mobile */
    padding: 8px;
  }

  .order-card {
    max-width: 100%;  /* Take full available width */
    margin: 0 auto;   /* Center it if there's margin space */
  }

   .tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .tab-button {
    padding: 6px 10px;
    font-size: 14px;
    width: 176px;
    max-width: 100px;
  
  }
}



