.ap-wrapper {
  font-family: 'Segoe UI', sans-serif;
  max-width: 1520px;
  margin: auto;
}

.ap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.ap-breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  color: #3658BF;
}

.ap-save-btn {
  background: #3658BF;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.ap-form-layout {
  display: flex;
  gap: 16px;
}

.ap-form-main {
  flex: 1;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 860px;
  width: 100%;
}

.ap-title {
  font-size: 24px;
  font-weight: 700;
  height: 60px;
  border-bottom: 1px solid #D4DAED;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.ap-tag-group {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.ap-tag {
  background: #3658BF;
  color: white;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 12px;
}

.ap-drawer {
  width: 320px;
  background: white;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
  /* padding: 16px 24px; */
  border-radius: 10px;
}

.ap-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 60px;
  border-bottom: 1px solid #D4DAED;
}

.ap-drawer-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D4DAED;
  border-top: 1px solid #D4DAED;
  margin-top: 8px;
  padding: 16px 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-group label {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #797979;
}

input,
textarea {
  /* padding: 10px; */
  /* border-radius: 6px; */
  border-radius: 5px;
  background: #E3E6EE;
  font-size: 14px;
  outline: none;
  border: 1px solid #ccc;
 padding: 0 10px;
}
.input {
  height: 27px;
  width: 379px;
 
}

textarea {
  resize: vertical;
  height: 93px;
  
}

.btn-group {
  display: flex;
  align-items: center;
  
  gap: 8px;
  text-align: center;
  padding: 16px 24px;
}

.add-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3658BF;
  background: white;
  color: #3658BF;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  height: 28px;
  width: 209px;
  font-weight: 700;
}

.save-btn {
  /* padding: 8px 20px; */
  background: #3658BF;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
}

