.customer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drawer-scroll-area {
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 8px;
}


.customer-title {
color: #3658BF;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
}

.customer-actions {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
  position: sticky;
}

.tab {
  display: flex;
  gap: 16px;
}

.tab-buttons {
  width: 176px;
  height: 40px;
  padding: 0 16px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid transparent;
  background-color: #3658BF;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-buttons.active {
  background-color: white;
  color: black;
  border: 1px solid #3658BF;
}

.search-input {
  width: 369px;
  height: 40px;
  border-radius: 10px;
  padding: 0 12px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.drawer-card {
  background-color: #f9f9f9;
  border-radius: 12px;
  margin-bottom: 12px;
  overflow: hidden;
}
.drawer-card:hover, .selected {
  background: linear-gradient(270deg, #FFF 0%, rgba(154, 171, 223, 0.63) 92.79%, rgba(54, 88, 191, 0.25) 100%);
}

.drawer-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px;
}

.drawer-profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 12px;
}

.drawer-avatar {
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawer-name {
  font-weight: 600;
  font-size: 16px;
}

.drawer-phone {
  font-size: 12px;
  color: gray;
}

.drawer-spacer {
  flex: 1;
}

.drawer-amount {
  font-weight: 700;
  font-size: 16px;
  margin-right: 12px;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 153px;
  padding: 12px;
}

.drawer-info-top {
  display: flex;
  align-items: center;
  width: 100%;
}

.drawer-info-left,
.drawer-due-center,
.drawer-icons {
  flex: 1;
}

.drawer-due-center {
  text-align: center;
  font-weight: 600;
}

.drawer-icons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  align-items: center;
}

.drawer-due {
  color: red;
  font-weight: bold;
}


.drawer-info-bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.drawer-buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}


.drawer-buttons button {
  background-color: #3658BF;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  cursor: pointer;
}

