.Acc-manage{
     background-color: #E2E6F3;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    padding-bottom: 40px;
}
.head-title{
 color: #3658BF;
font-size: 20px;
font-weight: 700;
line-height: 100%;
}