.dash-board{
    background-color: hsl(226, 41%, 92%);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.title{
color: #3658BF;
font-size: 32px;
font-weight: 700;
line-height: 100%;
margin: 0;
}

.Element-container{
    padding: 90px 0 0 110px;
    display: flex;
    flex-direction: column;
}
