.Item-Container div, p{
    margin: 0;
 }

.Item-Container{
    width: 100%;
    background-color: transparent;
    /* position: relative; */
}
.Item-box{
    display: flex;
    gap: 24px;
    
}

.block{
    background-color: white;
    width: 100%;
    max-width: 308px;
    height: 133px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0 #3658BF40;
    display: flex;


}

.block img {
    margin: 20px 0 0 0 ;
}
.Title{
    color: #939191;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    
}

.Value{
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}
/* 
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 1304px;
height: 133px;
left: 112px;
top: 167px;
  */
