.Tab-Section{
    background-color: white;
    width: 100%;
    max-width: 1304px;
    height: 863px;
    border-radius: 10px;
    padding: 24px 24px 0 24px;
   
}

.tab-items{
width: 100%;
max-width: 1256px;
height: 54px;
text-align: center;

}

.tab-items td{
    padding: 19px 0 19px 0;
    max-width: 140px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    
}
 
.tab-items tr{
    display: flex;
    justify-content: space-between;
  
}
.tab-items table{
 width:100%;
 border-top: 1px solid black;
 border-left: 1px solid black;
 border-right: 1px solid black;

}
.tab-items tr :nth-of-type(1){
    width: 100%;
    max-width: 60px;
}